---
import { db } from "../lib/db.ts";
import {
  buildingsTable,
  classesTable,
  collegesTable,
  divisionsTable,
  roomsTable,
} from "../../drizzle/schema";
// import Entry from "../components/svelte/Entry.svelte";
import Layout from "../layouts/Layout.astro";
import { count, eq, isNotNull } from "drizzle-orm";
import AppProvider from "../components/svelte/AppProvider.svelte";

const rooms = await db
  .select({
    id: roomsTable.id,
    code: roomsTable.room_code,
    directions: roomsTable.directions,
    building: {
      name: buildingsTable.building_name,
      lat: buildingsTable.lat,
      lon: buildingsTable.lon,
      directions: buildingsTable.directions,
    },
    collegeName: collegesTable.college_name,
    divisionName: divisionsTable.division_name,
  })
  .from(roomsTable)
  .leftJoin(buildingsTable, eq(buildingsTable.id, roomsTable.building_id))
  .leftJoin(divisionsTable, eq(divisionsTable.id, roomsTable.division_id))
  .leftJoin(collegesTable, eq(collegesTable.id, roomsTable.college_id));

const classes = await db
  .select({
    courseCode: classesTable.course_code,
    roomCode: roomsTable.room_code,
    section: classesTable.section,
    type: classesTable.type,
    schedule: classesTable.schedule,
    directions: roomsTable.directions,
    courseTitle: classesTable.course_title,
  })
  .from(classesTable)
  .leftJoin(roomsTable, eq(roomsTable.id, classesTable.room_id));

const buildings = await db.select().from(buildingsTable);
const colleges = await db.select().from(collegesTable);
const divisions = await db.select().from(divisionsTable);

const classesDict = new Map<string, (typeof classes)[number][]>();
classes.forEach((classData) => {
  const roomCode = classData.roomCode ?? "No room";
  if (!classesDict.has(roomCode)) {
    classesDict.set(roomCode, [classData]);
  } else {
    classesDict.get(roomCode)?.push(classData);
  }
});

rooms.sort((a, b) => {
  const countA = classesDict.get(a.code)?.length ?? 0;
  const countB = classesDict.get(b.code)?.length ?? 0;
  return countB - countA;
});

// @ts-ignore
const [{ count: directionCount }] = await db
  .select({ count: count() })
  .from(roomsTable)
  .where(isNotNull(roomsTable.directions));

// @ts-ignore
const [{ count: totalRooms }] = await db
  .select({ count: count() })
  .from(roomsTable);
---

<Layout>
  <a href="#main-content" class="skip-content">Skip Content</a>
  <AppProvider
    buildings={buildings}
    classesMap={classesDict}
    colleges={colleges}
    divisions={divisions}
    rooms={rooms}
    directionCount={directionCount}
    totalRooms={totalRooms}
    client:load
  />
  <!-- <div class="directions-status">
    <div class="directions-header">Rooms with directions</div>
    <div class="directions-body">
      <div>{directionCount} / {totalRooms}</div>
      <div class="directions-progressbar">
        <div
          class="directions-progressbar__value"
          data-value={Math.floor((directionCount / totalRooms) * 100)}
        >
        </div>
      </div>
    </div>
    <div>
      <a href="/contribute" target="_blank">Contribute to Room TBA</a>
    </div>
  </div> -->
</Layout>

<style>
  :global(*) {
    font-family:
      "DM Sans",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif;
  }
  .directions-status {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 0.5rem 0 hsla(0, 0%, 0%, 0.2);
    background-color: white;
    width: min(20rem, calc(100% - (2 * 0.5rem)));
    font-size: 0.875rem;
    z-index: 20;

    .directions-header {
      font-weight: 600;
      font-size: 1rem;
    }
    .directions-body {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .directions-progressbar {
      height: 0.75rem;
      flex: 1 0 0;
      border-radius: 0.5rem;
      background-color: hsl(0, 0%, 89%);
    }
    .directions-progressbar__value {
      position: relative;
      width: calc(attr(data-value number) * 1%);
      height: 100%;
      border-radius: 0.5rem;
      background-color: hsl(135, 100%, 42%);
    }
    a {
      display: inline-block;
      text-decoration: unset;
      padding: 0.25rem 0.75rem;
      border-radius: 0.5rem;
      transition: background-color 0.175s;
      background-color: hsl(5, 53%, 42%);
      &:hover {
        background-color: hsl(5, 53%, 37%);
      }
      &:active {
        background-color: hsl(5, 53%, 32%);
      }
      color: white;
    }
  }
  a.skip-content {
    outline: unset;
    position: fixed;
    top: -42px;
    color: white;
    background-color: hsl(5, 53%, 32%);
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    transition: all 0.25s;
    z-index: 100;
    border-radius: 0.5rem;
    &:focus-within {
      top: 0;
    }
  }
</style>
